<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterViewServlet</servlet-name>
  	<display-name>RegisterViewServlet</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.RegisterViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FirstPageView</servlet-name>
  	<display-name>FirstPageView</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.FirstPageView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCourseServlet</servlet-name>
  	<display-name>AddCourseServlet</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.AddCourseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCourseView</servlet-name>
  	<display-name>AddCourseView</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.AddCourseView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDepartmentServlet</servlet-name>
  	<display-name>AddDepartmentServlet</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addDepartmentView</servlet-name>
  	<display-name>addDepartmentView</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.addDepartmentView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListDepartment</servlet-name>
  	<display-name>ListDepartment</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.ListDepartment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>listCourse</servlet-name>
  	<display-name>listCourse</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.listCourse</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCourseServlet</servlet-name>
  	<display-name>DeleteCourseServlet</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCourseServlet</servlet-name>
  	<display-name>UpdateCourseServlet</display-name>
  	<description></description>
  	<servlet-class>courseSelectionJDBC.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterViewServlet</servlet-name>
  	<url-pattern>/RegisterViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstPageView</servlet-name>
  	<url-pattern>/FirstPageView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCourseServlet</servlet-name>
  	<url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCourseView</servlet-name>
  	<url-pattern>/AddCourseView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDepartmentServlet</servlet-name>
  	<url-pattern>/AddDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addDepartmentView</servlet-name>
  	<url-pattern>/addDepartmentView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListDepartment</servlet-name>
  	<url-pattern>/ListDepartment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>listCourse</servlet-name>
  	<url-pattern>/listCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCourseServlet</servlet-name>
  	<url-pattern>/DeleteCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCourseServlet</servlet-name>
  	<url-pattern>/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
</web-app>
